<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-6 d-flex align-items-center justify-content-space-between">
                    <div class="footer__logo d-flex align-items-center">
                        <img src="img/logo-footer.svg" alt="img">
                    </div>
                    <div class="footer__text">
                        до перемоги разом!
                    </div>
                </div>
                <div class="nav__footer col-6 d-flex">
                    <nav>
                        <ul class="footer__menu-items d-flex align-items-center">
                            <li>
                                <a class="footer__link" href="#">про нас</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">потреби</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">допомогти</a>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6 mt-5">
                        <div class="footer__mail">
                            <a href="office@lazarhelp.in.ua">office@lazarhelp.in.ua</a>
                        </div>
                    </div>
                    <div class="col-6 mt-4">
                        <div class="schedule">
                            Пн-Нд 9:00–21:00
                        </div>
                        <div class="hotline">
                            Гаряча лінія: +38 044 390 67 71
                        </div>
                        <div class="socialmedia">
                            WhatsApp, Telegram: +380 (63) 897 37 33
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="footer__botoom-text">
                    © 2022, БО «Благодійний фонд «Лазар»
                </div>
            </div>
        </div>
    </div>
</footer>


