<!-- <header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                HEADER
            </div>
        </div>
    </div>
</header> -->
<div class="container">
    <div class="row">
        <div class="col-12 d-flex align-items-center">
            <div class="col-6 mt-4 mb-3">
                <div class="header__logo">
                    <a href="#" class="d-flex align-items-center">
                        <img src="img/header-logo.svg" alt="logo">
                        <p class="logo__text">до перемоги разом!</p>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-4 mb-4">
                <nav class="menu-nav d-flex">
                    <ul id="burger-menu" class="menu__ul d-flex gap-3">
                        <li>
                            <a href="#">про нас</a>
                        </li>
                        <li class="drop__down-menu">
                            <a href="#" class="arrow-down">проєкти</a>
                            <!-- <div class="down__menu">
                                <a href="#">проект 1</a>
                                <a href="#">проект 2</a>
                                <a href="#">проект 3</a>
                            </div> -->
                        </li>
                        <li>
                            <a href="#">потреби</a>
                        </li>
                        <li>
                            <a href="#">допомогти</a>
                        </li>
                    </ul>
                    <div id="burger" class="icon-menu">
                        <span></span>
                    </div>
                    <div class="header__language">
                        <a href="#" class="arrow-down">
                            UA
                        </a>
                        <div class="down__menu-lang">
                            <a href="#">ENG</a>
                            <a href="#">PL</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="header__line"></div>
        </div>
    </div>
</div>
