<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero__title d-flex align-items-center justify-content-center">
                    Протезування
                </div>
                <div class="hero__deskribe d-flex align-items-center justify-content-center">
                    БФ «ЛАЗАР» розпочинає проєкт “Надія для наших героїв”, який покликаний допомоги українцям, які
                    втратили кінцівки рук або ніг від військових дій на території України
                </div>
                <div class="number__applications d-flex align-items-center justify-content-center">
                    <div class="numbers">
                        169
                    </div>
                    <div class="deskribe d-flex align-items-center">
                        постраждалих подали заявки <br>
                        на протезування
                    </div>
                </div>
                <div class="hero__card d-flex">
                    <div class="hero__card-info d-flex">
                        <img src="img/hero-card1.svg" alt="img">
                        <div class="info-deskribe">
                            <p>Верхні кінцівки</p>
                            <p class="describe-number">58</p>
                        </div>
                    </div>
                    <div class="hero__card-info d-flex">
                        <img src="img/hero-card2.svg" alt="img">
                        <div class="info-deskribe">
                            <p class="deskribe-name">Нижні кінцівки</p>
                            <p class="describe-number">87</p>
                        </div>
                    </div>
                    <div class="hero__card-info d-flex">
                        <img src="img/hero-card3.svg" alt="img">
                        <div class="info-deskribe">
                            <p class="deskribe-name">Обличчя</p>
                            <p class="describe-number">2</p>
                        </div>
                    </div>
                    <div class="hero__card-info d-flex">
                        <img src="img/hero-card4.svg" alt="img">
                        <div class="info-deskribe">
                            <p class="deskribe-name">Інше</p>
                            <p class="describe-number">22</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="register__load-app d-flex align-items-center">
                    <div class="register-deskribe">
                        Реєстр заявок на протезування
                    </div>
                    <div class="register-button">
                        <a class="reg-btn" href="#">Завантажити</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="help__received d-flex align-items-center justify-content-center">
                    <div class="help-numbers">
                        6
                    </div>
                    <div class="deskribe d-flex align-items-center">
                        постраждалих отримали <br>
                        допомогу
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>