<section class="signup__form">
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="sign__upfor-prosthetics">
                    <div class="sign__title d-flex justify-content-center">
                        Зареєструватись на протезування
                    </div>
                    <div class="sign__text">
                        Зареєструватись на протезування *
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="signup__choose">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap">
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/fingers.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Пальці
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="fingers" name="fingers" value="fingers">
                            <label for="fingers"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/heand.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Кисть
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="heand" name="heand" value="heand">
                            <label for="heand"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/upheand.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Передпліччя
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="upheand" name="upheand" value="upheand">
                            <label for="upheand"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/allheand.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Плече
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="allheand" name="allheand" value="allheand">
                            <label for="allheand"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/foot.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Стопа
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="foot" name="foot" value="foot">
                            <label for="foot"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/upfoot.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Гомілка
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="upfoot" name="upfoot" value="upfoot">
                            <label for="upfoot"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/allfoot.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Стегно
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="allfoot" name="allfoot" value="allfoot">
                            <label for="allfoot"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/face.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Обличчя
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="face" name="face" value="face">
                            <label for="face"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/all_body.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Шкіра
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="all_body" name="all_body" value="all_body">
                            <label for="all_body"> </label><br>
                        </div>
                    </div>
                    <div class="sing__items col-sm-6 col-md-3 col-lg-3">
                        <div class="prostethics-img">
                            <img src="img/else_part.svg.svg" alt="img">
                        </div>
                        <div class="prosthetics-text">
                            Інше
                        </div>
                        <div class="prostetics-choose">
                            <input class="form-check-input" type="checkbox" id="else_part" name="else_part" value="else_part">
                            <label for="else_part"> </label><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form onsubmit="event.preventDefault()" class="personal-data" post="/create_new_post">
                    <legend></legend>
                    <input placeholder="Прізвище, ім’я, по-батькові *" type="text">
                    <input placeholder="E-mail *" type="text">
                    <input placeholder="Телефон *" type="number" required>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__text">
                    Ви*
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form1__column mb-5 d-flex">
                        <div class="form-radio-1 me-5">
                            <input class="form-check-input" type="radio" id="you" name="you" value="you">
                            <label for="you">потерпілий/ла</label>
                        </div>
                        <div class="form-radio-2">
                            <input class="form-check-input" type="radio" id="you" name="you" value="you">
                            <label for="you">батьки, опікуни чи рідні особи</label>
                        </div>
                    </div>
                    <div class="form2__column mb-5 d-flex">
                        <div class="form-radio-3 me-5">
                            <input class="form-check-input" type="radio" id="sex" name="sex" value="sex">
                            <label for="sex">жіноча</label>
                        </div>
                        <div class="form-radio-4">
                            <input class="form-check-input" type="radio" id="sex" name="sex" value="sex">
                            <label for="sex">чоловіча</label>
                        </div>
                    </div>
                    <div class="form3__column mb-5 d-flex">
                        <div class="form-radio-5 me-5">
                            <input class="form-check-input" type="radio" id="age" name="age" value="age">
                            <label for="age">2-11 років</label>
                        </div>
                        <div class="form-radio-6 me-5">
                            <input class="form-check-input" type="radio" id="age" name="age" value="age">
                            <label for="age">12-17 років</label>
                        </div>
                        <div class="form-radio-7">
                            <input class="form-check-input" type="radio" id="age" name="age" value="age">
                            <label for="age">18 і більше</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center mb-4">
                <textarea class="textarea" name="about-you" id="aboutyou" cols="100%" rows="10"></textarea>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button class="btn mb-3" type="submit">
                    <a href="#">Зареєструватись</a>
                </button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="after__registering mt-4 mb-4">
                    <p>Дякуємо за реєстрацію!</p>
                    <p>Ми зв’яжемось з Вами протягом 2-х днів Просимо підготувати документи, які підтверджують особу
                        потерпілого, медичні заключення (за можливості).
                    </p>
                    <p>Слава Україні!</p>
                </div>
            </div>
        </div>
    </div>
</section>