$var1: #053412;
$var2: #DEDEDE;
$var3: #933535;
$var4: #000000;
$var5: #EDEDED;
$var6: #767676;
$var7: #474747;
$var8: #E3F4E8;

.hero__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	color: $var1;
	margin-top: 36px;
}
.hero__deskribe {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	margin-top: 40px;
}
.number__applications {
	padding: 56px;
	margin-top: 60px;
	background: $var2;
	border-radius: 10px;
}
.numbers {
	font-weight: 700;
	font-size: 64px;
	line-height: 1.2;
	color: $var3;
}
.deskribe {
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	color: $var4;
	margin-left: 68px;
	&-name {
		font-weight: 400;
		font-size: 20px;
		line-height: 1.2;
	}
}
.hero__card {
	margin: 18px 0px 44px;
	color: $var4;
    @media screen and (max-width: 810px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
	&-info {
		background: $var5;
		border-radius: 10px;
		width: 100%;
		min-height: 128px;
		padding: 20px;
		&:not(:last-child) {
			margin-right: 24px;
		}
 
	}
}
.hero__card-info {
    @media screen and (max-width: 810px){
        margin-top: 10px;
        width: 50%;
        margin-right: 0 !important;
        justify-content: center;
        flex: 1;
    }
}
.number__applications {
    @media screen and (max-width:768px){
        flex-direction: column;
    }
}

.deskribe {
    @media screen and (max-width:768px){
        margin: 0;
        text-align: center;
    }
}
.info-deskribe {
	margin-left: 22px;
}
.describe-number {
	font-weight: 700;
	font-size: 32px;
	line-height: 1.2;
}
.register-deskribe {
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
    @media screen and (max-width: 576px){
        margin-bottom: 40px;
    }
}

.register__load-app {
    @media screen and (max-width: 576px){
        flex-direction: column;
    }
}
.register-button {
	margin-left: 22px;
}
.reg-btn {
	border: 1px solid $var6;
	border-radius: 10px;
	padding: 10px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	color: $var7;
	&:hover {
		color: $var7;
	}
}
.help__received {
	padding: 56px;
	margin: 32px 0px 44px;
	background: $var8;
	border-radius: 10px;
}
.help-numbers {
	font-weight: 700;
	font-size: 64px;
	line-height: 1.2;
	color: $var1;
}
